$background-color: #222;

// Colors
$color-white: #fff;
$color-dark: #222222;
$color-dark--darker: #111111;
$color-dark--light: #333;
$color-grey: #777777;
$color-grey--light: #eee;
$color-highlight: #0099cc;
