@font-face {
  src: url("/fonts/PressStart2P-Regular.ttf");
  font-family: "Press Start 2P";
}

@font-face {
  src: url("/fonts/RobotoSlab-Bold.ttf");
  font-family: "RobotoSlab";
}

@font-face {
  src: url("/fonts/RobotoSlab-Light.ttf");
  font-family: "RobotoRegular";
}

$font-regular: "RobotoRegular";
$font-heading-one: "RobotoSlab";
$font-headline: "Press Start 2P", cursive;

body {
  line-height: 1.8;
  letter-spacing: 0.3px;
  font-family: $font-regular;
}
