html
head
  title Firmino Changani
  meta(property="og:title" content="Firmino Changani")
  meta(property="og:url" content=page.permalink)
  meta(property="og:site_name" content="Firmino Changani")
  meta(property="og:type" content="blog")
  link(rel="stylesheet", href="/blog/css/main.css")
  link(href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:300,400,700&display=swap", rel="stylesheet")
body
  .container
    include _partial/_header.pug
    .main-grid.wrap
      section.content
        each post in site.posts.toArray()
          article.post
            div.post__date= date(post.date, "LL")
            h1.post__title
              a(href=post.permalink)= post.title

    include _partial/_footer.pug