html
head
  title Firmino's journal
  link(rel="stylesheet", href="/blog/css/main.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap", rel="stylesheet")

body

  header.header
    h1 Firmino's journal
    p My experience in software development and software engineering

  each post in site.posts.toArray()
    article.post
      h1= post.title
      span= new Date(post.date)
