footer.footer
  .wrap.is-flex.has-space-between
    .footer__copyright
      p Firmino Changani
    
    .footer__links
      ul.is-flex
        li
          a(href="/") LinkedIn
        li
          a(href="/") Github
        li
          a(href="/") Twitter