footer.footer
  .wrap.is-flex.has-space-between
    .footer__copyright
      p Firmino Changani
    
    .footer__links
      ul.is-flex
        li
          a(target="_blank" href="https://linkedin.com/in/firminochangani") LinkedIn
        li
          a(target="_blank" href="https://github.com/flowck") Github
        li
          a(target="_blank" href="/https://twitter.com/flowck") Twitter

script(async src="https://www.googletagmanager.com/gtag/js?id=UA-151333822-1")
script.
<!-- IT'S GOOGLE, THEY TRACK EVERYTHING :) -->
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-151333822-1');