:root {
    --color-dark: #222;
    --color-white: #fff;
    --color-main: #09c;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 40px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-dark);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: var(--color-main);
}

img {
    display: block;
}

.self {
    width: 400px;
    text-align: center;
}

.self img {
    margin-left: auto;
    margin-right: auto;
}

.self__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: var(--spacing-medium);
}

.self__logo {
    width: 200px;
    margin-bottom: var(--spacing-large);
}

.self__bio p {
    line-height: 26px;
}