section.about-me.is-flex
  figure.about-me__photo
    img(src=config.url + "/img/me-2020.png", alt="Firmino Changani")

  .about-me__bio
    p I'm Firmino, and here I write about web application development. Leave your comment below and let's discuss about the topic above. Cheers!