section.about-me.is-flex
  figure.about-me__photo
    img(src=config.url + "/img/me.jpg", alt="Firmino Changani")

  .about-me__bio
    p I'm Firmino, and here I write about web application development, focusing in Frontend, Backend and tooling tips that I learned and use.