section.about-me.is-flex
  figure.about-me__photo
    img(src=config.url + "/img/me-2020.png", alt="Firmino Changani")

  .about-me__bio
    p I'm Firmino, and here I write about web application development, focused in learning the best practices to ship quality software.