header.header
  .wrap.is-flex.has-space-between
    div.header__title.is-flex.is-centered-y
      h1
        a(href=config.url) Firmino <br> <span>Changani</span>

    //- nav.header__nav.is-flex.is-centered-y
    //-   ul.is-flex
    //-     li
    //-       a(href="/") Distributed Systems
    //-     li
    //-       a(href="/") About me
    //-     li
    //-       a(href="/") E-mail