* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bitter', arial, 'sans-serif'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Bitter"; }

a {
  transition: color .5s; }

.wrap {
  width: 650px;
  margin: 0 auto; }

.is-flex {
  display: flex; }
  .is-flex.is-centered-x {
    justify-content: center; }
  .is-flex.is-centered-y {
    align-items: center; }
  .is-flex.is-centered {
    align-items: center;
    justify-content: center; }
  .is-flex.has-space-between {
    justify-content: space-between; }
  .is-flex.is-column {
    flex-direction: column; }

.container {
  min-height: 100vh;
  position: relative; }

.header {
  width: 100%;
  height: 70px;
  color: #FFF;
  background-color: #0069ff; }
  .header .wrap {
    height: inherit; }
  .header .header__title h1 {
    font-size: 20px;
    transition: text-shadow .2s;
    font-family: "Press Start 2P", "sans-serif", "arial"; }
    .header .header__title h1 span {
      font-size: 18px; }
    .header .header__title h1:hover {
      text-shadow: 1px 1px 1px #000; }
  .header .header__nav {
    height: 100%; }
    .header .header__nav ul li {
      font-size: 14px;
      list-style: none;
      margin-left: 30px;
      text-transform: uppercase; }
      .header .header__nav ul li:first-child {
        margin-left: 0; }
  .header a {
    color: #FFF;
    text-decoration: none; }

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  position: absolute;
  background-color: #EEE; }
  .footer .footer__copyright {
    font-size: 12px;
    padding-top: 5px;
    color: #333; }
  .footer .footer__links ul li {
    list-style: none; }
    .footer .footer__links ul li:not(:first-child) {
      margin-left: 30px; }
    .footer .footer__links ul li a {
      font-size: 10px;
      color: #333;
      text-decoration: none;
      text-transform: uppercase; }
      .footer .footer__links ul li a:hover {
        color: #0069ff; }

.main-grid {
  padding: 0 0 40px 0;
  padding-bottom: 101px; }

section.content {
  margin-bottom: 40px; }

.home .header .wrap {
  padding-left: 5px; }

.home .content {
  margin-top: 40px; }

.home .post__link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none; }

.home .post {
  padding: 5px;
  border-radius: 3px;
  transition: background-color .3s; }
  .home .post:hover {
    background-color: #EEE; }
  .home .post .post__meta {
    margin: 0; }

#disqus_thread {
  margin-top: 40px; }

.post hr {
  width: 100%;
  height: 2px;
  border: none;
  margin: 10px 0;
  background-color: #EEE; }

.post:not(:last-child) {
  margin-bottom: 20px; }

.post img {
  max-width: 100%;
  display: block;
  margin: 40px auto; }

.post blockquote {
  color: #111;
  padding: 10px;
  margin: 30px 0;
  background-color: #EEE;
  border-left: 5px solid #0069ff; }
  .post blockquote p {
    margin-bottom: 0; }
    .post blockquote p code {
      background-color: #DDD; }

.post p code, .post ul code {
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 2px;
  color: #333;
  background-color: #EEE; }

.post p, .post ul li {
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: "Nunito Sans"; }

.post ul {
  margin: 30px 0 30px 18px; }
  .post ul li {
    line-height: 25px;
    list-style: bullet;
    margin-bottom: 5px; }

.post .post__meta {
  margin: 20px 0; }

.post .post__date {
  color: #999;
  font-size: 10px;
  margin-bottom: 0px;
  text-transform: uppercase; }

.post .post__title {
  font-size: 25px;
  font-family: "Bitter";
  color: #333; }
  .post .post__title a {
    color: #333;
    text-decoration: none; }
    .post .post__title a:hover {
      color: #0069ff; }

.post .post__content {
  margin-top: 25px; }
  .post .post__content .highlight {
    padding: 10px 5px;
    margin: 10px 0; }
  .post .post__content pre {
    border-radius: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid rgba(1, 1, 1, 0.1); }
  .post .post__content a {
    position: relative;
    color: #0069ff;
    text-decoration: none; }
    .post .post__content a::before, .post .post__content a::after {
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      content: "";
      position: absolute;
      transition: width .3s;
      background-color: #0069ff; }
    .post .post__content a::after {
      right: 0;
      left: auto; }
    .post .post__content a:hover::before, .post .post__content a:hover::after {
      width: 50%; }
  .post .post__content h1, .post .post__content h2, .post .post__content h3, .post .post__content h4, .post .post__content h5, .post .post__content h6 {
    color: #333; }
  .post .post__content h1 {
    font-size: 24px;
    margin-top: 20px; }
  .post .post__content h2 {
    font-size: 20px;
    margin: 16px 0; }
  .post .post__content h3 {
    font-size: 16px;
    margin: 12px 0; }
  .post .post__content h4 {
    font-size: 14px;
    margin: 8px 0; }

a {
  text-decoration: none; }

section.about-me {
  height: 100px;
  padding: 10px;
  border-radius: 3px;
  background-color: #eee;
  transition: background-color .3s;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.6); }
  section.about-me:hover {
    background-color: #DDD; }
  section.about-me figure.about-me__photo {
    width: 80px; }
    section.about-me figure.about-me__photo img {
      width: inherit;
      border-radius: 50%;
      height: 80px; }
  section.about-me .about-me__bio {
    height: 100%;
    display: flex;
    color: #333;
    padding-left: 10px;
    margin-bottom: 20px;
    align-items: center; }
    section.about-me .about-me__bio p {
      text-decoration: none; }

@media screen and (max-width: 750px) {
  .wrap {
    width: 90%; }
  section.about-me {
    height: auto;
    flex-direction: column;
    justify-content: center; }
    section.about-me figure {
      width: 100%;
      margin: 0 auto 10px auto; }
  section.about-me .about-me__bio {
    margin-bottom: 0;
    text-align: center; } }
