* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', arial, 'sans-serif'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.wrap {
  width: 960px;
  margin: 0 auto; }

.is-flex {
  display: flex; }
  .is-flex.is-centered-x {
    justify-content: center; }
  .is-flex.is-centered-y {
    align-items: center; }
  .is-flex.is-centered {
    align-items: center;
    justify-content: center; }
  .is-flex.has-space-between {
    justify-content: space-between; }

.container {
  min-height: 100vh;
  position: relative; }

.header {
  width: 100%;
  height: 70px;
  color: #FFF;
  background-color: #0069ff; }
  .header .wrap {
    height: inherit; }
  .header .header__title h1 {
    font-size: 20px;
    transition: text-shadow .2s;
    font-family: "Press Start 2P", "sans-serif", "arial"; }
    .header .header__title h1 span {
      font-size: 18px; }
    .header .header__title h1:hover {
      text-shadow: 1px 1px 1px #000; }
  .header .header__nav {
    heigth: 100%; }
    .header .header__nav ul li {
      font-size: 14px;
      list-style: none;
      margin-left: 30px;
      text-transform: uppercase; }
      .header .header__nav ul li:first-child {
        margin-left: 0; }
  .header a {
    color: #FFF;
    text-decoration: none; }

.footer {
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  position: absolute;
  background-color: #333; }
  .footer .footer__copyright {
    font-size: 12px;
    color: #FFF; }
  .footer .footer__links ul li {
    list-style: none; }
    .footer .footer__links ul li:not(:first-child) {
      margin-left: 30px; }
    .footer .footer__links ul li a {
      font-size: 10px;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase; }

.main-grid {
  padding: 40px 0;
  padding-bottom: 101px; }

section.content {
  margin-bottom: 40px; }

.post:not(:last-child) {
  margin-bottom: 20px; }

.post img {
  max-width: 100%;
  display: block;
  margin: 40px auto; }

.post blockquote {
  color: #333;
  padding: 10px;
  margin: 30px 0;
  background-color: #eeeeee; }

.post p code {
  font-size: 16px;
  padding: 2px 5px;
  border-radius: 2px;
  color: #333;
  background-color: #EEE; }

.post p, .post ul li {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px; }

.post ul {
  margin-left: 18px;
  margin-bottom: 20px; }
  .post ul li {
    line-height: 18px;
    list-style: bullet; }

.post .post__date {
  font-size: 10px;
  margin-bottom: 5px;
  color: #999;
  text-transform: uppercase; }

.post .post__title {
  font-size: 30px;
  color: #333; }
  .post .post__title a {
    color: #333;
    text-decoration: none; }
    .post .post__title a:hover {
      color: #0069ff; }

.post .post__content {
  margin-top: 25px; }
  .post .post__content .highlight {
    padding: 10px 5px;
    margin: 10px 0; }
    .post .post__content .highlight pre {
      color: #FFF; }
  .post .post__content a {
    color: #0069ff; }
  .post .post__content h1, .post .post__content h2, .post .post__content h3, .post .post__content h4, .post .post__content h5, .post .post__content h6 {
    color: #333; }
  .post .post__content h1 {
    font-size: 24px;
    margin-top: 20px; }
  .post .post__content h2 {
    font-size: 20px;
    margin: 16px 0; }
  .post .post__content h3 {
    font-size: 16px;
    margin: 12px 0; }
  .post .post__content h4 {
    font-size: 14px;
    margin: 8px 0; }

@media screen and (max-width: 750px) {
  .wrap {
    width: 90%; } }
